/*
TABLE OF CONTENTS
1. universal styles
2. nav styles
3. index
4. about
5. employment
6. disability
7. resources
*/

/*-------------------
1. universal styles
-------------------*/
@font-face {
  font-family:'HelveticaLTStd', sans-serif;
  src: url('../media/font/HelveticaLTSt.otf');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
}
body{
  margin: 0;
  background-color: #ceffcc;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
div{
    width: auto;
    height: auto;
}

h1{
  font-size: 3.8em;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
  font-weight: 800;    
      
}
h2 {
    font-size: 2.2em;
}
#right {
    text-align: right;
    padding-right: 4%;
}
#left {
    text-align: left;
    padding-left: 4%;
}
.sub-title{
  font-size: 15pt;
  font-weight: 600;
}

p{
  font-size: 1.6em;
    line-height: 165%;
}
#donatingpara {
    border: solid;
    padding: 5%;
}
#donateimg {
    width: 650px;
    height: auto;
}
footer p {
    background-color: #273985;
    text-align: center;
    padding: 30px 0px;
    color: #fff;
    clear:left;
    margin-bottom: 0px;
}

/*-------------------
2. nav styles
-------------------*/



#contact {
    max-height: 175px;
    max-width: 115px;
}

body
{
  margin: 0;
  padding: 0;
  
  /* make it look decent enough */
  background: #99ce78;
  color: #fff;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

a
{
  text-decoration: none;
  color: #232323;
font-size: 10px
  
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 30px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's fade it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}
/*-------------------
3. index
-------------------*/

/*-------------------
4. about
-------------------*/
.content{
    margin: 100px;
    margin-top: 0px;
}

.image_header{
    width: 100%;
}

/*-------------------
5. employment
-------------------*/
.content{
    margin: 100px;
    margin-top: 0px;
}

.image_header{
    width: 100%;
}
/*-------------------
6. disability
-------------------*/
.content{
    margin: 100px;
    margin-top: 0px;
}

.image_header{
    width: 100%;
}
#l {
    float: left;
    width: 315px;
    height: auto;
}
#z {
    float: right;
    width: 315px;
    height: auto;
}
#break {
    padding-bottom: 15%;
}
/*-------------------
7. resources
-------------------*/

.description{
    font-weight: bold;
}

.link{
    font-weight: normal;
    color: #000000;
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    color: #273985;
}
.content{
    margin: 100px;
    margin-top: 0px;
}

.image_header{
    width: 100%;

 /* For devices smaller than 400px: */
body{
    background-image: url('media/img/metlogo.png');
}

/* For devices 400px and larger: */
@media only screen and (min-device-width: 400px) {
    body {
        background-image: url('media/img/metlogo.png');
    }

    
/*-------------------
8. buttons
-------------------*/

    
    